/* regole generali */
*{
  box-sizing: border-box;
}

body{
  padding: 10px;
}

header , main, .rosa{
  margin-bottom: 10px;
}

.clearfix:after{
  display: table;
  content: "";
  clear:both;
}


/* header */
header{
  height: 200px;
  background: yellow;
}

/* inizio parte principale */
aside{
  float: left;

  width: 24%;
}

aside .rosa{
  background: pink;
}

aside .grande{
  height: 200px;
}

aside .piccolo{
  height: 100px;
}

section{
  float: left;
  height: 300px;
  background: purple;
  width: 50%;
  margin: 0 1%;
}

/* footer */
footer{
  height: 100px;
  background: lightblue;
}
