/* regole generali */
*{
  box-sizing: border-box;
  margin: 0;
}

.clearfix:after{
  display: table;
  content: "";
  clear:both;
}


/* header */
header{
  height: 200px;
  background: yellow;
}

/* regole del main */
main{

}

aside{
  float: left;
  /* debug */
  height: 100px;
  background: pink;
  /* fine debug */
  width: 25%;
}

section{
  float: left;
  /* debug */
  height: 100px;
  background: purple;
  /* fine debug */
  width: 50%;
}

footer{
  /* debug */
  height: 100px;
  background: lightblue;
  /* fine debug */
}
