/* regole generali */
*{
  box-sizing: border-box;
}

body{
  padding: 10px;
}

header , main{
  margin-bottom: 10px;
}

.clearfix:after{
  display: table;
  content: "";
  clear:both;
}


/* header */
header{
  height: 200px;
  background: yellow;
}

/* regole del main */
main{

}

aside{
  float: left;
  /* debug */
  height: 100px;
  background: pink;
  /* fine debug */
  width: 24%;
}

section{
  float: left;
  /* debug */
  height: 100px;
  background: purple;
  /* fine debug */
  width: 50%;
  margin: 0 1%;

}

footer{
  height: 100px;
  background: lightblue;
}
